<h2>Welcome</h2>

<form action="/views/vendor_tools">
  <label for="fname"> Vendor Sign In </label><br />
  <label for="vname"> Vendor Name </label><input type="text" name="vendor_name"><br />
  <p><input type="submit" value="Sign In"></p>

</form>

<form action="/controllers/index_controller" method="POST" accept-charset="utf-8">
  Vendor Sign Up<br />
  <label for="vname"> Vendor Name </label>
  <input type="text" name="vendor[name]" value= "<%= @vendor.name %>" ><br />

  <label for="vemployees"> Employees </label>
  <input type="text" name="employees" value="" ><br />

  <label for="vmarketid"> Market ID </label>
  <input type="text" name="market_id" value="" ><br />

  <p><input type="submit" value="Sign Up"></p>
</form>
