<h2>Vendor Profile Update</h2>
<p>Please update vendor inforamtion in below form:</p>
<form action="/controllers/index_controller" method="POST" accept-charset="utf-8">
<<<<<<< HEAD
  <input type=“hidden” name=“_method” value=“PUT”>
  <label for="vname"> Vendor Name </label><input type="text" name="vendor_name" value= "<% @vendor.vname %>" ><br />
  <label for="vemployees"> Employees </label><input type="text" name="employees" value="<% @vendor.vemployees %>" ><br />
  <label for="vmarketid"> Market ID </label><input type="text" name="market_id" value="<% @vendor.vmarketid %>" ><br />
=======
  <input type="hidden" name="_method" value="PUT">
  <label for="name"> Vendor Name </label><input type="text" name="vendor[name]" value="<%= @vendor.name %>" ><br />
  <label for="employees"> Employees </label><input type="text" name="vendor[employees]" value="<%= @vendor.employees %>" ><br />
  <label for="market_id"> Market ID </label><input type="text" name="vendor[market_id]" value="<%= @vendor.market_id %>" ><br />
>>>>>>> 4c5217346492e57a1c54e933a3c6cb357d307f71
  <p><input type="submit" value="Update"></p>
</form>


<<<<<<< HEAD
*Vendor delete profile goes here*
=======
<%= link_to 'Delete', "/vendor/#{@vendor.id}", method: :delete %>
>>>>>>> 4c5217346492e57a1c54e933a3c6cb357d307f71
