<h2>Vendor Tools</h2>

<!-- <a href="/form-vendor-update/<%= @vendor.id %>">Vendor Profile Settings</a><br /> -->
<a href="/form-market">Create/Edit Market</a><br />
<a href="/form-product">Product Settings</a><br />
<a href="#">Create/Edit Sales</a>
