<h3>Create/Edit Market Form</h3>

<form action="/controllers/index_controller" method="POST" accept-charset="utf-8">
  <label for="fname"> Market Information </label><br />
  <label for="mname"> Market Name </label><input type="text" name="market_name" value= "<% @vendor.mname %>" ><br />
  <label for="maddress"> Address </label><input type="text" name="address" value="<% @vendor.maddress %>" ><br />
  <label for="mcity"> City </label><input type="text" name="city" value="<% @post.mcity %>" ><br />
  <label for="mcounty"> County </label><input type="text" name="county" value="<% @post.mcounty %>" ><br />
  <label for="mstate"> State </label><input type="text" name="state" value="<% @post.mstate %>" ><br />
  <label for="mzip"> Zip </label><input type="number" name="zip" value="<% @post.mzip %>" ><br />
  <p><input type="submit" value="Submit"></p>
</form>
